<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
    <link rel="stylesheet" href="/stylesheet/stylesheet.css">
</head>
<body>
    <h2>Parveen Kashyap Learn Backend with Harsh Sharma</h2>
    <main>
        <h1>MENU</h1>
        <nav>
          <button class='active' data-tag='all'>All</button>
          <button data-tag='apetizers'>Apetizers</button>
          <button data-tag='entries'>Entries</button>
          <button data-tag='desserts'>Desserts</button>
          <button data-tag='drinks'>Drinks</button>
        </nav>
        <ul class='menu'>
          <li class='item' data-type='desserts'>
            <img src='https://source.unsplash.com/W-p5xm_hGSw'>
            <h2>Chocolate Ice Cream</h2>
            <p>Creamy rich cholcoate ice cream with a sprinkle of nuts and fruits</p>
          </li>
          <li class='item' data-type='drinks'>
            <img src='https://source.unsplash.com/2uSnxq3M4GE'>
            <h2>Classic Pilsner</h2>
            <p>A pale lager with a crisp, refreshing taste that's lightly hopped</p>
          </li>
          <li class='item' data-type='entries'>
            <img src='https://source.unsplash.com/12eHC6FxPyg'>
            <h2>Pesto Pasta</h2>
            <p>Freshly made Pesto pasta with sliced tomatoes</p>
          </li>
          <li class='item' data-type='entries'>
            <img src='https://source.unsplash.com/oYvZ-stypr4'>
            <h2>Vegetarian Delight</h2>
            <p>Cooked rice with quinoa salad, pinto beans, and asparagus</p>
          </li>
          <li class='item' data-type='apetizers'>
            <img src='https://source.unsplash.com/xeTv9N2FjXA'>
            <h2>House Salad</h2>
            <p>Fresh local vegetables pair with homemade sausages</p>
          </li>
          <li class='item' data-type='entries'>
            <img src='https://source.unsplash.com/szQFiGZH8wU'>
            <h2>Coconut Rice</h2>
            <p>Indonesian coconut rice pair with fried pork, boiled eggs and cucumber</p>
          </li>
          <li class='item' data-type='apetizers'>
            <img src='https://source.unsplash.com/17SvN08MV_s'>
            <h2>Pumpkin Soup</h2>
            <p>Homemade pumpkin soup with pumpkin seeds and blue cheese</p>
          </li>
          <li class='item' data-type='apetizers'>
            <img src='https://source.unsplash.com/uBnIROT_p5M'>
            <h2>Tomato Soup</h2>
            <p>Slow cooked tomato soup with a side of classic Dutch bread</p>
          </li>
          <li class='item' data-type='entries'>
            <img src='https://source.unsplash.com/SDprf7W3NUc'>
            <h2>Mississipi Gumbo</h2>
            <p>Southern cajun flavored gumbo with shrimps and a slice of garlic bread</p>
          </li>
          <li class='item' data-type='entries'>
            <img src='https://source.unsplash.com/7WJV-SDSj6c'>
            <h2>Porterhouse Special</h2>
            <p>Succulent porterhouse steak with a side of mashed potato and brocoli</p>
          </li>
          <li class='item' data-type='entries'>
            <img src='https://source.unsplash.com/8eIuOTnqbjA'>
            <h2>Jamaican Chicken</h2>
            <p>Exotic Jamaican chicken pair with mango salad, rice and peas</p>
          </li>
          <li class='item' data-type='entries'>
            <img src='https://source.unsplash.com/XRcwELmjLgs'>
            <h2>Classic Pork Chop</h2>
            <p>Succluently grilled pork chop pair with garlic fries</p>
          </li>
          <li class='item' data-type='desserts'>
            <img src='https://source.unsplash.com/8yji1QSu58U'>
            <h2>Rose Pudding</h2>
            <p>Rose flavor tapioca pudding</p>
          </li>
          <li class='item' data-type='apetizers'>
            <img src='https://source.unsplash.com/1ugpo9WYPXs'>
            <h2>Spring Rolls</h2>
            <p>Indonesian style spring roll fill with carrots, celery, and shrimp</p>
          </li>
          <li class='item' data-type='desserts'>
            <img src='https://source.unsplash.com/EbRBhZ-I_p8'>
            <h2>Blueberry Cheese Cake</h2>
            <p>Rich creamy melt in your mouth blueberry cheese cake</p>
          </li>
          <li class='item' data-type='drinks'>
            <img src='https://source.unsplash.com/6n_kXdPJa3s'>
            <h2>Lemonade</h2>
            <p>Freshly squeeze lemonade with dash of honey</p>
          </li>
          <li class='item' data-type='desserts'>
            <img src='https://source.unsplash.com/vT5xrj3z1OE'>
            <h2>Strawberry Banana Crepe</h2>
            <p>Classic souther strawberry banana crepe</p>
          </li>
          <li class='item' data-type='apetizers'>
            <img src='https://source.unsplash.com/SH8_JmrsQcw'>
            <h2>Clam Chowder</h2>
            <p>Classic New England cleam chowder</p>
          </li>
          <li class='item' data-type='entries'>
            <img src='https://source.unsplash.com/tkfRSPt-jdk'>
            <h2>Grilled Salmon</h2>
            <p>Freshly grilled salmon with side of beets salad, caramel carrots, and garlic sauce</p>
          </li>
          <li class='item' data-type='drinks'>
            <img src='https://source.unsplash.com/NZMeJsrMC8U'>
            <h2>Expresso</h2>
            <p>Classic freshly grounded Italian expresso</p>
          </li>
        </ul>
      </main>
    <script src="/javascript/script.js"></script>
</body>
</html>